
html, body {
    height: 100%;
    background: linear-gradient(0, #202239, #8595AC);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::selection {
    background: #CDD4DE;
}

.notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    margin-top: 15%;
    width: 700px;
    height: 490px;
    z-index: 1;
    font-family: Roboto, sans-serif;
    background: #0D0C1E;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.content {
    text-align: center;
    padding-top: 118px;
    color: #CDD4DE;
}

h1 {
    font-weight: 900;
    font-size: 165px;
    line-height: 1;
    margin-bottom: -10px;
    opacity: 0.6;
}

h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 6px;
    opacity: 0.9;
}

p {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 140px;
}

a {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #CDD4DE;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.4;
    cursor: pointer;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: scale(1.1);
}